<nav class="site-navbar">
  <a class="logo-container" routerLink="/">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
  </a>
  <ul class="menu menu-horizontal hidden md:flex">
    <li class="menu-item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="menu-item" *ngIf="authenticated">
      <a routerLink="/messages" routerLinkActive="active">Messages</a>
    </li>
    <li class="menu-item signup-button" *ngIf="!authenticated">
      <a routerLink="/register">Sign Up</a>
    </li>
    <li class="login-button" *ngIf="!authenticated">
      <a routerLink="/login">Log In</a>
    </li>
    <li class="menu-item" *ngIf="authenticated">
      <div class="dropdown dropdown-bottom dropdown-hover">
        <div tabindex="0" role="button" class="link">
          {{ userEmail }}
        </div>
        <ul tabindex="0" class="dropdown-content menu menu-vertical">
          <li class="menu-item">
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
          <li class="menu-item">
            <a routerLinkActive="active" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div *ngIf="isMenuOpen" class="mobile-menu">
    <ul class="menu menu-vertical">
      <li class="menu-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >Home</a
        >
      </li>
      <!-- <li class="menu-item">
                <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
            </li> -->
      <li class="menu-item">
        <details class="collapse collapse-arrow menu-item collapse-menu">
          <summary class="collapse-title">Pages</summary>
          <div class="collapse-content">
            <ul tabindex="0" class="menu menu-vertical">
              <li class="menu-item">
                <a
                  routerLink="/services"
                  routerLinkActive="active"
                  (click)="closeMenu()"
                  >Duyurular</a
                >
              </li>
              <li class="menu-item">
                <a
                  routerLink="/services/web-development"
                  routerLinkActive="active"
                  (click)="closeMenu()"
                  >Web Development</a
                >
              </li>
              <li class="menu-item">
                <a
                  routerLink="/services/mobile-development"
                  routerLinkActive="active"
                  (click)="closeMenu()"
                  >Mobile Development</a
                >
              </li>
            </ul>
          </div>
        </details>
      </li>
      <li *ngIf="authenticated" class="menu-item">
        <a routerLink="/library" routerLinkActive="active" (click)="closeMenu()"
          >Library</a
        >
      </li>
      <li class="menu-item" *ngIf="authenticated">
        <details class="collapse collapse-arrow menu-item collapse-menu">
          <summary
            tabindex="0"
            role="button"
            class="collapse-title link link-primary"
          >
            {{ userEmail }}
          </summary>
          <ul tabindex="0" class="menu menu-vertical">
            <li class="menu-item">
              <a
                routerLink="/profile"
                routerLinkActive="active"
                (click)="closeMenu()"
                >Profile</a
              >
            </li>
            <li class="menu-item">
              <a
                routerLinkActive="active"
                (click)="logOut()"
                (click)="closeMenu()"
                >Logout</a
              >
            </li>
          </ul>
        </details>
      </li>
      <li class="menu-item signup-button" *ngIf="!authenticated">
        <a routerLink="/register" (click)="closeMenu()">Sign Up</a>
      </li>
      <li class="login-button" *ngIf="!authenticated">
        <a routerLink="/login" (click)="closeMenu()">Log In</a>
      </li>
    </ul>
  </div>
  <button
    class="menu-item toggle-menu"
    [class.menu-open]="isMenuOpen"
    (click)="toggleMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="inline-block w-5 h-5 stroke-current"
    >
      <path
        *ngIf="isMenuOpen"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      ></path>
      <path
        *ngIf="!isMenuOpen"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>
</nav>
