<section class="w-full max-w-80 mx-auto">
  <h1 class="text-4xl font-bold mb-8">Register</h1>
  <form
    class="register-form space-y-6"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="email" class="block text-sm font-medium text-gray-400 leading-8"
        >E-mail</label
      >
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
        placeholder="email@example.com"
        required
        email="true"
        class="input input-bordered w-full"
      />
      <div
        *ngIf="email!.invalid && (email!.dirty || email!.touched)"
        class="text-red-600 text-sm mt-1"
      >
        <div *ngIf="email!.errors?.['required']">Email is required.</div>
        <div *ngIf="email!.errors?.['email']">This is not a valid email.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium text-gray-400 leading-8"
        >Password</label
      >
      <div class="relative">
        <input
          [type]="isPasswordVisible"
          id="password"
          name="password"
          formControlName="password"
          required
          minlength="8"
          class="input input-bordered w-full"
        />
        <div
          class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
          (click)="togglePasswordVisibility()"
        >
          <span *ngIf="isPasswordVisible === 'password'" title="Show Password">
            <ng-icon name="radixEyeClosed" size="1.25rem"></ng-icon>
          </span>
          <span *ngIf="isPasswordVisible === 'text'" title="Hide Password">
            <ng-icon name="radixEyeOpen" size="1.25rem"></ng-icon>
          </span>
        </div>
      </div>
      <div
        *ngIf="password!.invalid && (password!.dirty || password!.touched)"
        class="text-red-600 text-sm mt-1"
      >
        <div *ngIf="password!.errors?.['required']">Password is required.</div>
        <div *ngIf="password!.errors?.['minlength']">
          Password must be at least 8 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="userName" class="block text-sm font-medium text-gray-400 leading-8"
        >Username</label
      >
      <input
        type="text"
        id="userName"
        name="userName"
        formControlName="userName"
        required
        class="input input-bordered w-full"
      />
      <div
        *ngIf="userName!.invalid && (userName!.dirty || userName!.touched)"
        class="text-red-600 text-sm mt-1"
      >
        <div *ngIf="userName!.errors?.['required']">Username is required.</div>
      </div>
    </div>

    <button
      [disabled]="!registerForm.valid"
      type="submit"
      class="btn btn-primary w-full"
    >
      Register
    </button>

    <div
      *ngIf="this.httpErrorService.httpError?.error"
      class="text-red-600 text-sm mt-1"
    >
      An error occurred: {{ this.httpErrorService.httpError?.error?.detail }}
    </div>

    <div class="login-link text-center mt-4">
      Already have an account?
      <a routerLink="/login" class="text-primary">Login</a>
    </div>
  </form>
</section>
